/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  border-radius: 0.5rem;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

#images-wrapper {
  display: flex;
  justify-content: space-between;
}
#c1 {
  width: 45%; /* Adjust width as needed */
  display: inline-block; /* Display inline to sit next to each other */
  margin: 10px; /* Add some margin for spacing */
}
#c2 {
  width: 20%; /* Adjust width as needed */
  display: inline-block; /* Display inline to sit next to each other */
  margin: 10px; /* Add some margin for spacing */
}