apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "trivy-operator-explorer.fullname" . }}
  labels:
    {{- include "trivy-operator-explorer.labels" . | nindent 4 }}
rules:
  - verbs:
      - get
      - list
      - watch
    apiGroups:
      - aquasecurity.github.io
    resources:
      - vulnerabilityreports
      - rbacassessmentreports
      - clusterrbacassessmentreports
      - configauditreports
      - infraassessmentreports
      - clusterinfraassessmentreports
      - exposedsecretreports
      - clustercompliancereports
      #- sbomreports
      #- clustervulnerabilityreports
      #- clustersbomreports
      #- clusterconfigauditreports
      #- clustercompliancedetailreports
  - verbs:
      - get
      - list
    apiGroups:
      - ""
    resources:
      - pods
