apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "trivy-operator-explorer.fullname" . }}
  labels:
    {{- include "trivy-operator-explorer.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  {{- if .Values.database.persistentVolumeClaim.enabled }}
  strategy:
    type: Recreate
  {{- end }}
  selector:
    matchLabels:
      {{- include "trivy-operator-explorer.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "trivy-operator-explorer.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "trivy-operator-explorer.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.config.port }}
              protocol: TCP
          env:
            - name: TRIVY_OPERATOR_EXPLORER_LOG_LEVEL
              value: '{{ .Values.config.log_level }}'
            - name: TRIVY_OPERATOR_EXPLORER_SERVER_PORT
              value: '{{ .Values.config.port }}'
            - name: TRIVY_OPERATOR_EXPLORER_DB_PATH
              value: '{{ .Values.database.mountPath }}'
          volumeMounts:
            - name: database
              mountPath: {{ .Values.database.mountPath }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        {{- if .Values.database.persistentVolumeClaim.enabled }}
        - name: database
          persistentVolumeClaim:
            {{- if .Values.database.persistentVolumeClaim.existingClaim }}
            claimName: {{ .Values.database.persistentVolumeClaim.existingClaim }}
            {{- else }}
            claimName: {{ include "trivy-operator-explorer.fullname" . }}-database
            {{- end }}
        {{- else }}
        - name: database
          emptyDir: {}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
