<!DOCTYPE html>
<html lang="en">
  <title>Explorer: Images</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/static/img/t.ico">
  <link href="/static/css/output.css" rel="stylesheet">
  <link href="/static/css/extra.css" rel="stylesheet">
  <script src="/static/js/chart.js"></script>
  <script src="/static/js/images-hasfix.js"></script>
  <script src="/static/js/images-resources-table.js"></script>
</head>
<body class="min-h-screen bg-gray-200 dark:bg-indigo-900">
     
    <!-- Sidebar -->
    {{template "sidebar.html" .}}

    <!-- Table content -->
    <div class="p-4 sm:ml-64 bg-gray-200 dark:bg-indigo-900">
        <div class="relative overflow-x-auto shadow-md rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <!-- Table headers -->
                <thead class="rounded-lg text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Image
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Based On
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Vulnerabilities
                        </th>
                    </tr>
                </thead>
                <!-- Table body -->
                <tbody>
                    {{ range $data := .Data }}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600">
                        <!-- Image column -->
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <div class="flex items-center">
                                <button onclick="toggleResources('{{ $data.Digest }}')" class="flex items-center" data-debug-name="{{ $data.Digest }}" data-debug-id="icon-{{ $data.Digest | sanitizeID }}">
                                    <svg class="w-4 h-4 mr-2 transform transition-transform" id="icon-{{ $data.Digest | sanitizeID }}" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </button>
                                <a href="/image?{{ if $data.Registry }}registry={{ $data.Registry }}{{ end }}&repository={{ $data.Name }}&tag={{ $data.Tag }}&digest={{ $data.Digest }}" title="{{ $data.Digest }}">
                                    {{ if $data.Registry }}{{ $data.Registry }}/{{ end }}{{ $data.Name }}{{ if $data.Tag }}:{{ $data.Tag }}{{ end }}{{ if and $data.Digest (not $data.Tag) }}@{{ $data.Digest }}{{ end }}
                                </a>
                            </div>
                        </th>
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <a href="/image?{{ if $data.Registry }}registry={{ $data.Registry }}{{ end }}&repository={{ $data.Name }}&tag={{ $data.Tag }}&digest={{ $data.Digest }}" title="{{ $data.Digest }}">
                                {{ if .OSFamily }}<span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">{{ .OSFamily }} {{ .OSVersion }}</span>{{ end }} {{ if .OSEndOfServiceLife }}<span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">EoSL</span>{{ end }}
                            </a>
                        </th>
                        <!-- Vulnerabilities column -->
                        <td class="px-6 py-4">
                            {{ if .Unscanned }}<span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">Unscanned</span>{{ end }}
                            {{ if $data.CriticalVulnerabilities }}
                            <a href="/image?{{ if $data.Registry }}registry={{ $data.Registry }}{{ end }}&repository={{ $data.Name }}&tag={{ $data.Tag }}&digest={{ $data.Digest }}&severity=Critical" title="Critical" class="bg-red-200 text-black text-xs font-medium me-1 px-2 py-2 rounded dark:bg-red-900 dark:text-red-100">
                                {{ len $data.CriticalVulnerabilities }}
                            </a>
                            {{ end }}
                            {{ if $data.HighVulnerabilities }}
                            <a href="/image?{{ if $data.Registry }}registry={{ $data.Registry }}{{ end }}&repository={{ $data.Name }}&tag={{ $data.Tag }}&digest={{ $data.Digest }}&severity=High" title="High" class="bg-orange-200 text-black text-xs font-medium me-1 px-2 py-2 rounded dark:bg-orange-900 dark:text-orange-100">
                                {{ len $data.HighVulnerabilities }}
                            </a>
                            {{ end }}
                            {{ if $data.MediumVulnerabilities }}
                            <a href="/image?{{ if $data.Registry }}registry={{ $data.Registry }}{{ end }}&repository={{ $data.Name }}&tag={{ $data.Tag }}&digest={{ $data.Digest }}&severity=Medium" title="Medium" class="bg-yellow-200 text-black text-xs font-medium me-1 px-2 py-2 rounded dark:bg-yellow-900 dark:text-yellow-100">
                                {{ len $data.MediumVulnerabilities }}
                            </a>
                            {{ end }}
                            {{ if $data.LowVulnerabilities }}
                            <a href="/image?{{ if $data.Registry }}registry={{ $data.Registry }}{{ end }}&repository={{ $data.Name }}&tag={{ $data.Tag }}&digest={{ $data.Digest }}&severity=Low" title="Low" class="bg-blue-200 text-black text-xs font-medium me-1 px-2 py-2 rounded dark:bg-blue-900 dark:text-blue-100">
                                {{ len $data.LowVulnerabilities }}
                            </a>
                            {{ end }}
                        </td>
                    </tr>
                    <!-- Resources sub-table -->
                    <tr id="resources-{{ $data.Digest | sanitizeID }}" class="hidden">
                        <td colspan="3" class="px-6 py-4">
                            <div class="relative overflow-x-auto shadow-md rounded-lg">
                                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <thead class="rounded-lg text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-6 py-3">
                                                Namespace
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Name
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Kind
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{ range $resource, $_ := $data.Resources }}
                                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600">
                                            <td class="px-6 py-4 text-black dark:text-white">
                                                {{ $resource.Namespace }}
                                            </td>
                                            <td class="px-6 py-4 text-black dark:text-white">
                                                {{ $resource.Name }}
                                            </td>
                                            <td class="px-6 py-4 text-black dark:text-white">
                                                {{ $resource.Kind }}
                                            </td>
                                        </tr>
                                        {{ end }}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
