<!DOCTYPE html>
<html lang="en">
  <title>Explorer: Roles</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/output.css" rel="stylesheet">
  <link href="/static/css/extra.css" rel="stylesheet">
</head>
<body class="min-h-screen bg-indigo-900">
     
    <!-- Sidebar -->
    <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-indigo-950">
            <a href="/" class="flex items-center ps-2.5 mb-5">
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Trivy Operator Explorer</span>
            </a>
            <ul class="space-y-2 font-medium">
                <li>
                    <a href="/" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                            <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                            <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
                        </svg>
                        <span class="ms-3">Images</span>
                    </a>
                </li>
                <li>
                    <a href="/roles" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                            <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
                         </svg>
                       <span class="ms-3">Roles</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <!-- Table content -->
    <div class="p-4 sm:ml-64 bg-indigo-900">
        <div class="relative overflow-x-auto shadow-md rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <!-- Table headers -->
                <thead class="rounded-lg text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Namespace
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Kind
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Vulnerabilities
                        </th>
                    </tr>
                </thead>
                <!-- Table body -->
                <tbody>
                    {{ range $data := . }}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <!-- Roles column -->
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <a href="/role?name={{ $data.Name }}&namespace={{ $data.Namespace }}">
                                {{ $data.Namespace }}
                            </a>
                        </td>
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <a href="/role?name={{ $data.Name }}&namespace={{ $data.Namespace }}">
                                {{ $data.Name }}
                            </a>
                        </td>
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ $data.Kind }}
                        </td>
                        <!-- Vulnerabilities column -->
                        <td class="px-6 py-4">
                            {{ if $data.CriticalVulnerabilities }}
                            <a href="/role?name={{ $data.Name }}&namespace={{ $data.Namespace }}&severity=Critical" title="Critical" class="bg-red-100 text-red-800 text-xs font-medium me-1 px-2 py-2 rounded dark:bg-red-900 dark:text-red-100">
                                {{ len $data.CriticalVulnerabilities }}
                            </a>
                            {{ end }}
                            {{ if $data.HighVulnerabilities }}
                            <a href="/role?name={{ $data.Name }}&namespace={{ $data.Namespace }}&severity=High" title="High" class="bg-orange-100 text-orange-800 text-xs font-medium me-1 px-2 py-2 rounded dark:bg-orange-900 dark:text-orange-100">
                                {{ len $data.HighVulnerabilities }}
                            </a>
                            {{ end }}
                            {{ if $data.MediumVulnerabilities }}
                            <a href="/role?name={{ $data.Name }}&namespace={{ $data.Namespace }}&severity=Medium" title="Medium" class="bg-yellow-100 text-yellow-800 text-xs font-medium me-1 px-2 py-2 rounded dark:bg-yellow-900 dark:text-yellow-100">
                                {{ len $data.MediumVulnerabilities }}
                            </a>
                            {{ end }}
                            {{ if $data.LowVulnerabilities }}
                            <a href="/role?name={{ $data.Name }}&namespace={{ $data.Namespace }}&severity=Low" title="Low" class="bg-blue-100 text-blue-800 text-xs font-medium me-1 px-2 py-2 rounded dark:bg-blue-900 dark:text-blue-100">
                                {{ len $data.LowVulnerabilities }}
                            </a>
                            {{ end }}
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
